name: Verificação de Qualidade (CI)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
     
      - name: Checkout do código
        uses: actions/checkout@v4

   
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'


      - name: Instalar Dependências
        run: npm install

    
      - name: Checagem de Tipos (TypeScript)
        run: npx tsc --noEmit

 
      - name: Teste de Prebuild
        run: npx expo prebuild --platform android